@import url(https://fonts.googleapis.com/css?family=Muli:200,300|Open%20Sans:200,300);

/* basic html */
body {
	background: #FAF9FA;
	line-height: 1.55;
	font-family: 'Muli', sans-serif;
	font-weight: 100;
	text-align: justify;
	color: #555;
}

a {text-decoration: none; color: #555;}
a:hover {color:#FFD1DC;}

p {
	font-size: 1.2vw;
	letter-spacing: .2px;
}

h1 {
	font-weight: lighter;
	font-size: 2.5vw; 
	line-height: 5px;
}

/* specific classes */

.wrapper {
	max-width: 450px;
	padding: 7em;
	padding-left: 0px;
	padding-bottom: 50px;
	margin-left: 17%;
	margin-top: 4%;
	overflow: hidden;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.movie {
	border-radius: 8px;
	width: 30%;
	height: 30%;
}

.project {
	border-radius: 8px;
	width: 100%;
	height: 20%;
}

.portfolio {
	border-radius: 8px;
	width: 32.9%;
	height: 32.9%;
}

/* specific styles/sections */


#copy {font-size:10px;}

#sidebar {
	color: #555;
	position: absolute;
		left: 12%;
		top: 27%;
		width: 10%;
		height: 50%;
	text-align: right;
}

#links {
	font-size: 1vw;
	letter-spacing: .2px;
}



/* Small screens */
@media all {
	p {
		font-size: 1.7rem;
		letter-spacing: .2px;
	}

	h1 {
		font-weight: lighter;
		font-size: 2.5rem; 
		line-height: 5px;
	}

	#links {
		font-size: 1.3rem;
		letter-spacing: .2px;
}
}

/* Medium+ screens */
@media screen and (min-width: 40.5em) {
	p {
		font-size: 1.2vw;
		letter-spacing: .2px;
	}

	h1 {
		font-weight: lighter;
		font-size: 2.5vw; 
		line-height: 5px;
	}

	#links {
		font-size: 1vw;
		letter-spacing: .2px;
	}
}