@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
	background: #C2C0C0;
	margin: 0 auto;
	max-width: 50em;
	line-height: 1.15;
	padding: 4em 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
}

p {
	text-indent: 75px;
}


title {
	margin-top: 1em;
	padding-top: 1em;
	font-size: 2.5em;
	font-weight: bold;
}

