/* desktop */


.sidebar {
    background: #FDFDFD;
    line-height: 1.55;
    margin-left: 10%;
    margin-top: 11%;
    position: fixed;
    height: 25vh;
    width: 15vw;

    

    ul {
        line-height: 0.6em;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: #1A1A1A;
                &:hover {
                    color: #A0BABD;
                }
            }
        }
    }
}

.menu-container {
        .menu-enter {
            max-height: 0px;
            -webkit-transition: max-height 1s ease;
            overflow: hidden;
        }

        .menu-enter.menu-enter-active {
            height: auto;
            max-height: 100px;
        }

        .menu-leave {
            max-height: 100px;
            -webkit-transition: max-height 1s ease;
        }

        .menu-leave.menu-leave-active {
            overflow: hidden;
            max-height: 0px;
        }
}
