@media screen and (max-width: 599px) {
    .icons {
        margin-left: 35%;
        margin-top: 14%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 5.3vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .icons {
        margin-left: 35%;
        margin-top: 14%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 4.5vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .icons {
        margin-left: 35%;
        margin-top: 15%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 4.5vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .icons {
        margin-left: 84%;
        margin-top: -9%;
        position: fixed;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 1.3vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

/* desktop, big */
@media screen and (min-width: 1800px) {
    .icons {
        margin-left: 84%;
        margin-top: 21.5%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 1.5vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

