@media screen and (max-width: 599px) {
    .icons {
        margin-left: -1%;
        margin-top: -10%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 5.3vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .icons {
        margin-left: -0.6%;
        margin-top: -15%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 4.5vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

/* medium phone */
@media screen and (min-width: 900px) {
    .icons {
        margin-left: -0.6%;
        margin-top: -20%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 4.5vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

/* desktop/laptop */
@media screen and (min-width: 1200px) {
    .icons {
        margin-left: -0.6%;
        margin-top: -10%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 1.3vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

/* desktop, big */
@media screen and (min-width: 1800px) {
    .icons {
        margin-left: -1%;
        margin-top: -10%;
        a {
            line-height: 0.5em;
            font-weight: 100;
            font-size: 1.5vw;
            text-decoration: none;
            color: #000000;
            &:hover {
                color: #000000;
            }
        }
    }
}

