@import url(https://fonts.googleapis.com/css?family=Muli:200,300|Open%20Sans:200,300|Raleway:200,300|Karla);

@font-face {
    font-family: "Fabrica";
    src: url("Fabrica.otf") format("opentype");
}

/* universal breakpoint */

html, body {
	/* background: #1A1A1A; dark blue */
	background: #FFFFFF; /* dark gray */
	line-height: 1.55;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	height: 100%;
}

a {
	text-decoration: none; 
}
a:hover {color:#FFD1DC;}

/* phone */
@media screen and (max-width: 599px) {
	p {
		font-size: 4.5vw;
		letter-spacing: 0.013em;
        width: 40em;
	}

	h2 {
		font-weight: lighter;
		font-size: 9vw; 
		line-height: 0em;
        width: 24em;
	}

    img {
        margin-top: 34%;
        max-width: 110%;
        max-height: 100%;
        height: auto;
        width: auto;
        padding-bottom: -5%;
    }

    .container {
        margin: 0 auto;
        text-align: left;
    }

    .blog-wrapper {
        width: 70em;
        margin-left: 9%;
        margin-top: 21%;
        
        p {
            font-size: 4vw;
            margin-bottom: 3%;
        }

        h1, h2, h3 {
            font-family: 'Karla';
        }

        h1 {
            font-size: 8vw;
        }

        h3 {
            font-size: 5vw;
        }

        li {
            font-size: 4vw;
        }

    }

	.home-wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 10px;
        margin-top: 10%;
		margin-left: 6%;
		overflow: hidden;
        h1 {
            font-size: 8vw;
        }
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 10%;
		margin-top: 0%;
		overflow: hidden;
	}

	#links {
		font-size: 3vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* tablet, portrait */
@media screen and (min-width: 600px)  {
	p {
		font-size: 4vw;
		letter-spacing: 0.013em;
		padding-bottom: 3.125em;
		width: 17em;
        margin-bottom: -12%;
	}

	h2 {
		font-weight: lighter;
		font-size: 9vw; 
		line-height: 0.313em;
	}

	img {
        margin-top: 35%;
        margin-left: -2%;
        max-width: 110%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .container {
        margin: 0 auto;
        text-align: left;
    }

    .blog-wrapper {
        width: 70em;
        margin-left: 7%;
        margin-top: 21%;
        
        p {
            font-size: 4vw;
            margin-bottom: 0%;
            width: 18em;
        }

        h1, h2, h3 {
            font-family: 'Karla';
        }

        h1 {
            font-size: 8vw;
        }

        h3 {
            font-size: 5vw;
        }

        li {
            font-size: 4vw;
        }

    }

	.home-wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 10px;
        margin-top: 10%;
		margin-left: 6%;
		overflow: hidden;
        h1 {
            font-size: 8vw;
        }
	}
	
    .wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
        margin-top: 0%;
		margin-left: 7%;
		overflow: hidden;
	}

	#links {
		font-size: 2.5vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* tablet, landscape, ipad pro */
@media screen and (min-width: 900px) {
	p {
		font-size: 4vw;
		letter-spacing: 0.013em;
        width: 20em;
        margin-bottom: -12%;
	}

	h2 {
		font-weight: lighter;
		font-size: 9vw; 
		line-height: 0.5em;
	}

	img {
        margin-top: 35%;
        max-width: 110%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .container {
        margin: 0 auto;
        text-align: left;
    }

    .blog-wrapper {
        width: 70em;
        margin-left: 4.5%;
        margin-top: 21%;
        
        p {
            font-size: 4vw;
            margin-bottom: -2%;
            width: 18em;
        }

        h1, h2, h3 {
            font-family: 'Karla';
        }

        h1 {
            font-size: 8vw;
            margin-bottom: 2%;
        }

        h3 {
            font-size: 5vw;
        }

        li {
            font-size: 4vw;
        }

    }

	.home-wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 10px;
        margin-top: 10%;
		margin-left: 3.5%;
		overflow: hidden;
        h1 {
            font-size: 8vw;
        }
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 5%;
        margin-top: 0%;
		overflow: hidden;
	}

	#links {
		font-size: 1vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* desktop */
@media screen and (min-width: 1200px) {
	h2 {
	    font-weight: lighter;
		font-size: 4.1vw; 
	    line-height: 0.5em;
	}

	img {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;
        display: block;
        vertical-align: top;
    }

    .container {
        margin: 0 auto;
        text-align: left;
    }

    .blog-wrapper {
        float: left;
        width: 70em;
        margin-top: 10%;

        h1, h2, h3 {
            font-family: 'Karla';
        }

	    h1 {
		    font-weight: lighter;
		    font-size: 3.6vw; 
		    line-height: 0.5em;
	    }

        h3 {
            font-size: 2vw;
        }

        p {
            font-size: 1.5vw;
            width: 30em;
		    letter-spacing: 0.013em;
	        margin-bottom: -2%;
        }

        li {
            font-size: 1.5vw;
        }
    }

	.home-wrapper {
		max-width: 50em;
        float: left;
		padding: 3em;
		padding-left: 10px;
        margin-top: 40%;
		margin-left: -10%;
		overflow: hidden;

        p {
            font-size: 1.5vw;
            width: 20em;
		    letter-spacing: 0.013em;
	        margin-bottom: -12%;
        }
	}

    .wrapper-img {
        text-align: center;
        float: left;
        margin-left: -10%;
        margin-top: -35%;
    }

	#links {
		font-size: 2vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* desktop, big */
@media screen and (min-width: 1800px) {
	h2 {
		font-weight: lighter;
		font-size: 4vw; 
		line-height: 0.313em;
        margin-bottom: 7%;
	}

	img {
        margin-top: 35%;
		max-height: 110%;
		max-width: 100%;
        height: auto;
        width: auto;
    }

    .container {
        margin: 0 auto;
        text-align: left;
    }

    .blog-wrapper {
        float: left;
        width: 50em;
        margin-top: 10%;
        margin-left: -40%;
		padding: 3em;
		padding-left: 10px;

        h1, h2, h3 {
            font-family: 'Karla';
        }

	    h1 {
		    font-weight: lighter;
		    font-size: 3.6vw; 
		    line-height: 0.5em;
	    }

        h3 {
            font-size: 2vw;
        }

        p {
            font-size: 1.5vw;
            width: 30em;
		    letter-spacing: 0.013em;
	        margin-bottom: -2%;
        }

        li {
            font-size: 1.5vw;
        }
    }

	.home-wrapper {
		max-width: 50em;
        float: left;
		padding: 3em;
		padding-left: 10px;
        margin-top: 50%;
		margin-left: -40%;
		overflow: hidden;
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: -20%;
		margin-top: -20%;
        float: left;
		overflow: hidden;
	}
	#links {
		font-size: 2vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
