@import url(https://fonts.googleapis.com/css?family=Muli:200,300|Open%20Sans:200,300|Raleway:200,300|Karla);

@font-face {
    font-family: "Fabrica";
    src: url("Fabrica.otf") format("opentype");
}

/* universal breakpoint */

html, body {
	/* background: #1A1A1A; dark blue */
	background: #FFFFFF; /* dark gray */
	line-height: 1.55;
	font-family: 'Fabrica', sans-serif;
	font-weight: 100;
	height: 100%;
}

a {
	text-decoration: none; 
}
a:hover {color:#FFD1DC;}


/* phone */
@media screen and (max-width: 599px) {
	p {
		font-size: 4.5vw;
		letter-spacing: 0.013em;
        width: 16em;
        margin-top: 43%;
	}

	h1 {
		font-weight: lighter;
		font-size: 7.5vw; 
		line-height: 0em;
        width: 24em;
	}

    img {
        margin-top: 34%;
        max-width: 110%;
        max-height: 100%;
        height: auto;
        width: auto;
        padding-bottom: -5%;
    }

	.wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
        margin-top: 0%;
		margin-left: 10%;
		overflow: hidden;
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 10%;
		margin-top: 0%;
		overflow: hidden;
	}

	#links {
		font-size: 3vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* tablet, portrait */
@media screen and (min-width: 600px)  {
	p {
		font-size: 4vw;
		letter-spacing: 0.013em;
		padding-bottom: 3.125em;
		width: 17em;
		margin-top: 35%;
	}

	h1 {
		font-weight: lighter;
		font-size: 6.0vw; 
		line-height: 0.313em;
	}

	img {
        margin-top: 35%;
        margin-left: -2%;
        max-width: 110%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

	.wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
        margin-top: 7%;
		margin-left: 14%;
		overflow: hidden;
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
        margin-top: 0%;
		margin-left: 18%;
		overflow: hidden;
	}

	#links {
		font-size: 2.5vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* tablet, landscape, ipad pro */
@media screen and (min-width: 900px) {
	p {
		font-size: 4vw;
		letter-spacing: 0.013em;
        width: 20em;
        margin-top: 36%;
	}

	h1 {
		font-weight: lighter;
		font-size: 5vw; 
		line-height: 0.313em;
	}

	img {
        margin-top: 35%;
        max-width: 110%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

	.wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 6%;
        margin-top: 10%;
		overflow: hidden;
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 12%;
        margin-top: 0%;
		overflow: hidden;
	}

	#links {
		font-size: 1vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* desktop */
@media screen and (min-width: 1200px) {
	p {
		font-size: 1.6vw;
		letter-spacing: 0.013em;
		width: 20em;
		margin-top: 9%;
	}

	h1 {
		font-weight: lighter;
		font-size: 3.6vw; 
		line-height: 0.5em;
	}

	img {
        margin-left: auto;
        margin-right: auto;
        max-width: 40%;
        max-height: 40%;
        height: auto;
        width: auto;
        display: block;
        vertical-align: top;
    }

	.wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
        margin-top: -5%;
		margin-left: -25%;
		overflow: hidden;
	}

    .wrapper-img {
        text-align: center;
        margin-left: -10%;
        margin-top: -25%;
    }

	#links {
		font-size: 2vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}

/* desktop, big */
@media screen and (min-width: 1800px) {
	p {
		font-size: 1.5vw;
		letter-spacing: 0.013em;
		width: 20em;
		margin-top: 35%;
	}

	h1 {
		font-weight: lighter;
		font-size: 3.3vw; 
		line-height: 0.313em;
	}

	img {
        margin-top: 35%;
		max-height: 110%;
		max-width: 100%;
        height: auto;
        width: auto;
    }

	.wrapper {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 10%;
		margin-top: 0%;
		overflow: hidden;
	}

	.wrapper-img {
		max-width: 50em;
		padding: 3em;
		padding-left: 0px;
		margin-left: 10%;
		margin-top: 0%;
		overflow: hidden;
	}
	#links {
		font-size: 2vw;
		letter-spacing: 0.013em;
	}

	#copy {font-size:1vw;}
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
